/*Header*/
/*-----------------------------------*/ 
.cabeca_pg{
    padding:8px 0;
    background-color: rgba(32, 32, 30, 0.8);
    padding-bottom: 20px;

} 

.logo_nav{
    float: left;
    font-size: larger;
    font-size: 30px;
    margin-left: 20px;
    margin-top:10px ;

}

.logo_nav a{
    color: black;
    text-decoration: none;
}

/*.logo_nav p{
    display: inline-block;
    font-size: 14px;
}*/

.tes{
    position: absolute;
    background-color: red;
}


.icone_logo{
    font-size: 30px;
    font-weight: normal;
    color: white;
  
}


/*-------Menu Mobile-----*/

nav.nav_mobile{
    overflow: hidden;
    display: none;
    float: right;

}

nav.nav_mobile h2{

    cursor: pointer;

}

nav.nav_mobile ul{
    display: none;
    width: 100%;
    background-color: white;
    position: absolute;
    left: 0;
    top: 55px;
    z-index: 999;
    text-align: center;
    
}

nav.nav_mobile li{
    padding: 2px 0 2px 0;
    border-bottom: 1px solid rgb(0, 0, 0);

}

nav.nav_mobile a{
    display: block;
    font-size: larger;
    color:  rgba(21, 22, 6, 0.63);
    text-decoration: none;
}
article{
    overflow: hidden;
    background-color: black;
}


/*-------Menu PG-----*/

 nav.nav_pg{
    float: right;
}

nav.nav_pg ul{
    position: relative;
    top: 20px;

}

nav.nav_pg li{
    display: inline-block;
    padding:0 10px;
    
}

nav.nav_pg li.select{
    font-size: 18px;
}

nav.nav_pg a{
    color: aquamarine;
    text-decoration: none;
    padding: 5px;

}

nav.nav_pg a:hover{ 
    padding: 5px;
    background-color: rgba(7, 10, 10, 0.226);
    border-radius: 10%;
    box-shadow: 2px 2px 2px chartreuse;
}

nav.nav_pg a:active{
    border: 1px solid rgba(0, 255, 255, 0.87);
    background-color:rgba(0, 145, 145, 0.315);
    color: white;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.63);
}


/*menu mobile responsivo*/
@media screen and (max-width: 580px){
    nav.nav_mobile{
        display: block;

    }

    nav.nav_pg {
        display: none;
    }

    nav.nav_mobile h2{
        color: white;
        margin-top: 15px;
        margin-right: 20px;
    }
}